name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: macos-latest
    env:
      JAVA_TOOL_OPTIONS: "-Xmx5120m -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap"
      GRADLE_OPTS: "-Xms1g -Xmx5120m -Dorg.gradle.daemon=false -Dorg.gradle.parallel=true -Dorg.gradle.workers.max=2 -Dkotlin.incremental=false -Dkotlin.compiler.execution.strategy=in-process"

    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
    - name: Gradle Wrapper Validation
      uses: gradle/wrapper-validation-action@v1.0.3
    - name: Install JDK
      uses: actions/setup-java@v2.0.0
      with:
        distribution: 'adopt'
        java-version: '8.0.282+8'
    - name: Configure Gradle
      # Initial gradle configuration, install dependencies, etc
      run: ./gradlew help
    - name: Build project
      run: ./gradlew assemble --stacktrace
