name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: macOS-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Install JDK
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Configure Gradle
      # Initial gradle configuration, install dependencies, etc
      run: ./gradlew help
    - name: Build project
      run: ./gradlew assemble --stacktrace
